.home-container {
  background-image: url("../images/kam-idris-_HqHX3LBN18-unsplash77.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover, contain;

  height: 70vh;
  width: 100vw;
}

.home-title {
  background: #003941;
  color: white;
  margin: none;
  padding-top: 2em;
}
