.home-container {
  background-image: url("../images/kam-idris-_HqHX3LBN18-unsplash77.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70vh;
  width: 100vw;
}

.home-title {
  background: #003941;
  color: white;
  margin: none;
  padding-top: 2.5em;
  font-size: 20px;

  .home-button {
    margin-bottom: 3em;
    margin-top: 1em;
    width: 7%;
    height: 69%;
    border: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 16px;
    padding-right: 4.8rem;
    padding-left: 2rem;
    color: white;
    background-color: black;
  }
}
