.nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 999;

  .nav-items {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nav-title {
      margin-left: 2em;
      margin-top: 1rem;
    }

    .nav-button {
      margin-right: 2em;
      width: 0%;
      height: 69%;
      border: none;
      margin-top: 0.5em;
      padding-top: 0.7rem;
      padding-bottom: 1.5rem;
      font-size: 16px;
      padding-right: 4.8rem;
      padding-left: 2rem;
      color: white;
      background-color: black;
    }
  }
}
